{% if page.mathjax %}
  <script type="text/x-mathjax-config">
   MathJax.Hub.Config({
     showProcessingMessages: false,
     messageStyle: "none",
     tex2jax: {
       inlineMath: [ ['$','$'], ["\\(","\\)"] ],
       displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
       processEscapes: true
     },
     TeX: {
       MultLineWidth: "100%",
       equationNumbers: { autoNumber: "AMS" }
     },
     "HTML-CSS": { fonts: ["Latin-Modern"] }
   });
  </script>
  <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
{% endif %}